<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <iframe title="Collection_Dashboard_3_Fintaar" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiODc2MWQxMTUtZTI5NS00NmMwLTg1NjEtNTgwOTBkNDIxMjM4IiwidCI6IjNmODMwNzM2LTE4MTktNDg0YS1iMzNlLTg5YTQxNDMyOTk4YSJ9" frameborder="0" allowFullScreen="true"></iframe></body>
</html>
