<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <iframe title="Debt Collection Dashboard Fintaar" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNGI0NTM0ZWEtY2ZhNi00ZTM5LTk3MDItY2IyMmE0MjZjNjk2IiwidCI6IjNmODMwNzM2LTE4MTktNDg0YS1iMzNlLTg5YTQxNDMyOTk4YSJ9" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>
