<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <iframe title="Sales dashboard Fintaar" src="https://app.powerbi.com/view?r=eyJrIjoiZWM1MTZhODAtOTBlOC00NzIxLWE1YmYtMjA0NDQ0MTBlYTI5IiwidCI6IjNmODMwNzM2LTE4MTktNDg0YS1iMzNlLTg5YTQxNDMyOTk4YSJ9" frameborder="0" allowfullscreen="true"></iframe>
</body>
</html>
